<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CarDetail">
    <!-- call CarDetail.selectFromCAR_DETAILE_INFO -->
    <!-- test에서 CAR_DTL_ID 클릭해서 상세페이지로 가기 위함 -->
    <select id="selectFromCAR_DETAILE_INFO" parameterType="Map" resultType="Map">
        SELECT *
        FROM CAR_DETAILE_INFO
    </select>

    <!-- 차량 정보 -->
    <!-- call CarDetail.selectFromCAR_DETAILE_INFOByCAR_DTL_ID -->
    <select id="selectFromCAR_DETAILE_INFOByCAR_DTL_ID" parameterType="Map" resultType="Map">
        SELECT *
        FROM CAR_DETAILE_INFO
        JOIN CAR_INFO
        ON CAR_INFO.CAR_ID = CAR_DETAILE_INFO.CAR_ID
        JOIN CAR_MAIN_SKELETON
        ON CAR_INFO.SKELETON_ID = CAR_MAIN_SKELETON.SKELETON_ID
        JOIN CAR_PANEL
        ON CAR_INFO.PANER_ID = CAR_PANEL.PANER_ID
        WHERE CAR_DTL_ID = #{CAR_DTL_ID}
    </select>

    <!-- 딜러 정보 -->
    <!-- call CarDetail.selectFromDEALER_INFOByCAR_DTL_ID -->
    <select id="selectFromDEALER_INFOByCAR_DTL_ID" parameterType="Map" resultType="Map">
        SELECT USER_INFO.NAME, USER_INFO.CELL_NUMBER, DEALER_INFO.ATTACHFILE_SEQ, DEALER_INFO.DEALER_ID
        FROM DEALER_INFO
        JOIN CAR_DETAILE_INFO
        ON CAR_DETAILE_INFO.DEALER_ID = DEALER_INFO.DEALER_ID
        JOIN USER_INFO
        ON DEALER_INFO.DEALER_ID = USER_INFO.USER_ID
        WHERE CAR_DETAILE_INFO.CAR_DTL_ID = #{CAR_DTL_ID}
    </select>

    <!-- 딜러 판매중 차량 조회 -->
    <!-- call CarDetail.selectDealerSalesCar -->
    <select id="selectDealerSalesCar" parameterType="Map" resultType="Map">
        SELECT COUNT(*)
        FROM CAR_DETAILE_INFO
        JOIN SALE_STATUS
        ON CAR_DETAILE_INFO.STATUS_ID = SALE_STATUS.STATUS_ID
        WHERE DEALER_ID = #{DEALER_ID}
        AND STATUS = 'sale'
    </select>

    <!-- 딜러 판매완료 차량 조회 -->
    <!-- call CarDetail.selectDealerSoldOutCar -->
    <select id="selectDealerSoldOutCar" parameterType="Map" resultType="Map">
        SELECT COUNT(*)
        FROM CAR_DETAILE_INFO
        JOIN SALE_STATUS
        ON CAR_DETAILE_INFO.STATUS_ID = SALE_STATUS.STATUS_ID
        WHERE DEALER_ID = #{DEALER_ID}
        AND STATUS = 'soldout'
    </select>

    <!-- 차량 UID로 이미지 가져오기 -->
    <!-- call CarDetail.selectCarImg -->
    <select id="selectCarImg" parameterType="Map" resultType="Map">
        SELECT *
        FROM CIP_ATTACHFILE
        JOIN CAR_IMG
        ON CIP_ATTACHFILE.ATTACHFILE_SEQ = CAR_IMG.ATTACHFILE_SEQ
        WHERE SOURCE_UNIQUE_SEQ = #{SOURCE_UNIQUE_SEQ}
        AND IMG_INFO = #{IMG_INFO}
    </select>
    
    <!-- 방문예약 -->
    <!-- call CarDetail.insertReservation -->
    <insert id = "insertReservation" parameterType="Map">
        INSERT INTO RESERVATION
        (RESERVATION_ID, RSV_DATE, RVS_TIME, RVS_ADDR, RSV_STATUS, CAR_DTL_ID, USER_ID)
        VALUES
        (#{RESERVATION_ID}, #{RSV_DATE}, #{RVS_TIME}, 'none', '예약 신청', #{CAR_DTL_ID}, #{USER_ID})
    </insert>

    <!-- 1:1 문의(상담) 등록 -->
    <!-- call CarDetail.insertContact -->
    <insert id = "insertContact" parameterType="Map">
        INSERT INTO CONTACT
        (CONTACT_ID, INQ_TITLE, INQ_CONTENT, INQ_DATE, ANS_CONTENT, ANS_DATE, STATUS_ID, USER_ID, DEALER_ID)
        VALUES
        (#{CONTACT_ID}, #{INQ_TITLE}, #{INQ_CONTENT}, sysdate(), 'none', 'none', 'A001', #{USER_ID}, #{DEALER_ID})
    </insert>

    <!-- 찜 여부 확인하기 -->
    <!-- call CarDetail.selectWishlist -->
    <select id="selectWishlist" parameterType="Map" resultType="Map">
        SELECT *
        FROM WISHLIST
        WHERE CAR_DTL_ID = #{CAR_DTL_ID}
        AND USER_ID = #{USER_ID}
    </select>



</mapper>