<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Memberwithauthority">
	<select id="selectByUID" parameterType="String"
		resultType="Map">
		SELECT USER_ID, NAME
		FROM USER_INFO
		WHERE ID = #{username}  
        </select>
	
</mapper>