<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Login">

<!-- call Login.selectByUID -->
	<select id="selectByUID" parameterType="String" resultType="Map">
		SELECT *
		FROM USER_INFO
		WHERE 1 = 1 
		AND ID = #{username}  
        </select>
	
</mapper>