<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Main">

<!-- 메인 검색 -->
  <!-- call Main.selectFromMainSearchFilter -->

 <select id="selectFromMainSearchFilter" 
        parameterType="Map" resultType="Map">
        SELECT CAR_DTL_ID, CAR_INFO.CAR_ID, CAR_INFO.MANUFACTURER, CAR_INFO.MODEL, CAR_INFO.DETAILED_MODEL, CAR_INFO.MODEL_YEAR, CAR_INFO.DRIVEN_DIST, CAR_INFO.FUEL 
        FROM CAR_DETAILE_INFO
        JOIN CAR_INFO
        ON CAR_INFO.CAR_ID = CAR_DETAILE_INFO.CAR_ID
        WHERE 1 = 1

        <if test = 'manufacturer!="제조사"'>
            AND MANUFACTURER = #{manufacturer}
        </if>
        <if test = 'model!="모델"'>
            AND MODEL = #{model}
        </if>
        <if test = "!keyword.equals('')">
            AND CONCAT(MANUFACTURER, MODEL, DETAILED_MODEL) LIKE CONCAT ('%', #{keyword}, '%')
        </if>
       
</select>

  <!-- call Main.selectFromMainSearch -->
<select id="selectFromMainSearch" parameterType="Map" resultType="Map">
SELECT CAR_DETAILE_INFO.CAR_DTL_ID, CAR_INFO.CAR_ID, MANUFACTURER, MODEL, DETAILED_MODEL
FROM CAR_INFO
JOIN CAR_DETAILE_INFO
ON CAR_INFO.CAR_ID = CAR_DETAILE_INFO.CAR_ID
<choose>
<when test="type != null and type.equals(#{MANUFACTURER})">
AND MANUFACTURER LIKE CONCAT('%', #{keyword}, '%')
</when>
<when test="type != null and type.equals(#{MODEL})">
AND MODEL LIKE CONCAT('%', #{keyword}, '%')
</when>
</choose>

<!-- LIKE CONCAT('%'), #{keyword}, -->

 </select>

<!-- 특가 -->
<!-- call Main.selectFromSpecialPrice-->
<select id="selectFromSpecialPrice" parameterType="Map" resultType="Map">
SELECT CAR_DETAILE_INFO.CAR_DTL_ID, CAR_INFO.CAR_ID, MANUFACTURER, MODEL, TRANSMISSION, DETAILED_MODEL, PRICE, MODEL_YEAR, FUEL, DRIVEN_DIST, DTL_IMG_CAR, ADDR_CITY, PANER_ID, SKELETON_ID
FROM CAR_INFO
JOIN CAR_DETAILE_INFO
ON CAR_INFO.CAR_ID = CAR_DETAILE_INFO.CAR_ID
WHERE PRICE &lt; 2000

 </select>

<!-- 신차급 -->
<!-- call Main.selectFromNewCar-->
<select id="selectFromNewCar" parameterType="Map" resultType="Map">
SELECT CAR_DETAILE_INFO.CAR_DTL_ID, CAR_INFO.CAR_ID, MANUFACTURER, MODEL, DETAILED_MODEL, PRICE, MODEL_YEAR, FUEL, DRIVEN_DIST, DTL_IMG_CAR, ADDR_CITY, PANER_ID, SKELETON_ID
FROM CAR_INFO
JOIN CAR_DETAILE_INFO
ON CAR_INFO.CAR_ID = CAR_DETAILE_INFO.CAR_ID
WHERE MODEL_YEAR = '2022'

 </select>
<!-- 인기 국산차 -->
<!-- call Main.selectFromDomestic-->
<select id="selectFromDomestic" parameterType="Map" resultType="Map">
SELECT CAR_DETAILE_INFO.CAR_DTL_ID, CAR_INFO.CAR_ID, MANUFACTURER, MODEL, DETAILED_MODEL, PRICE, MODEL_YEAR, FUEL, DRIVEN_DIST, DTL_IMG_CAR, ADDR_CITY, PANER_ID, SKELETON_ID
FROM CAR_INFO
JOIN CAR_DETAILE_INFO
ON CAR_INFO.CAR_ID = CAR_DETAILE_INFO.CAR_ID
WHERE ORIGIN = '국산'


 </select>
<!-- 인기 수입차 -->
<!-- call Main.selectFromImported-->
<select id="selectFromImported" parameterType="Map" resultType="Map">
SELECT CAR_DETAILE_INFO.CAR_DTL_ID, CAR_INFO.CAR_ID, MANUFACTURER, MODEL, DETAILED_MODEL, PRICE, MODEL_YEAR, FUEL, DRIVEN_DIST, DTL_IMG_CAR, ADDR_CITY, PANER_ID, SKELETON_ID
FROM CAR_INFO
JOIN CAR_DETAILE_INFO
ON CAR_INFO.CAR_ID = CAR_DETAILE_INFO.CAR_ID
WHERE ORIGIN = '수입'

 </select>


</mapper>