<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Main">

<!-- 메인 검색 -->
  <!-- call Main.selectFromMainSearch -->
<select id="selectFromMainSearch" parameterType="Map" resultType="Map">
SELECT MANUFACTURER, MODEL, DETAILED_MODEL
FROM CAR_INFO
WHERE ${type} like '%${keyword}%'
<choose>
<when test="type != null and type.equals(#{MANUFACTURER})">
AND MANUFACTURER LIKE CONCAT('%', #{keyword}, '%')
</when>
<when test="type != null and type.equals(#{MODEL})">
AND MODEL LIKE CONCAT('%', #{keyword}, '%')
</when>
</choose>

<!-- LIKE CONCAT('%'), #{keyword}, -->


 </select>

<!-- 특가 -->
<!-- call Main.selectFromSpecialPrice-->
<select id="selectFromSpecialPrice" parameterType="Map" resultType="Map">
SELECT CAR_ID, MANUFACTURER, MODEL, TRANSMISSION, DETAILED_MODEL, PRICE, MODEL_YEAR, FUEL, DRIVEN_DIST, DTL_IMG_CAR, ADDR_CITY, PANER_ID, SKELETON_ID
FROM CAR_INFO
WHERE PRICE &lt; 2000

 </select>

<!-- 신차급 -->
<!-- call Main.selectFromNewCar-->
<select id="selectFromNewCar" parameterType="Map" resultType="Map">
SELECT CAR_ID, MANUFACTURER, MODEL, DETAILED_MODEL, PRICE, MODEL_YEAR, FUEL, DRIVEN_DIST, DTL_IMG_CAR, ADDR_CITY, PANER_ID, SKELETON_ID
FROM CAR_INFO
WHERE MODEL_YEAR = '2022'

 </select>
<!-- 인기 국산차 -->
<!-- call Main.selectFromDomestic-->
<select id="selectFromDomestic" parameterType="Map" resultType="Map">
SELECT CAR_ID, MANUFACTURER, MODEL, DETAILED_MODEL, PRICE, MODEL_YEAR, FUEL, DRIVEN_DIST, DTL_IMG_CAR, ADDR_CITY, PANER_ID, SKELETON_ID
FROM CAR_INFO
WHERE ORIGIN = '국산'


 </select>
<!-- 인기 수입차 -->
<!-- call Main.selectFromImported-->
<select id="selectFromImported" parameterType="Map" resultType="Map">
SELECT CAR_ID, MANUFACTURER, MODEL, DETAILED_MODEL, PRICE, MODEL_YEAR, FUEL, DRIVEN_DIST, DTL_IMG_CAR, ADDR_CITY, PANER_ID, SKELETON_ID
FROM CAR_INFO
WHERE ORIGIN = '수입'

 </select>


</mapper>