<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Register">

<!-- 아이디 중복 체크 -->
 <!-- call Register.idcheck -->
	<!-- <select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(ID) 
    FROM REGISTER
    WHERE ID= #{ID}
	</select> -->
 
<!--회원정보UID,이름,아이디,비밀번호,생년월일,전화번호,이메일,주소(시도),주소(시구군),약관동의UID,권한 -->
<!-- call Register.insertWithUID -->
 <insert id="insertWithUID" parameterType="Map">
 
INSERT INTO REGISTER
(USER_ID, NAME, ID, PASSWORD, BIRTHDAY, CELL_NUMBER, EMAIL, ADDR_CITY, ADDR_DISTRICT) 
VALUE
(#{USER_ID}, #{NAME}, #{ID}, #{PASSWORD}, #{BIRTHDAY}, #{CELL_NUMBER}, #{EMAIL}, #{ADDR_CITY}, #{ADDR_DISTRICT})

 </insert>


 <!-- 약관동의UID,이용약관동의(필수),개인정보필수약관(필수),개인정보선택약관(선택),리투리구정약관(필수),마케팅정보수신동의(선택) -->
 <!-- call Register.insertagreeWithUID -->
 <insert id="insertagreeWithUID" parameterType="Map">
   
   INSERT INTO USER_TS_CS
    (TS_CS_ID, TS_CS, PER_INF_REQ, PER_INF_OPT, REGULATION, REC_MKT_INF)
   VALUES
   (#{TS_CS_ID}, 
   <choose>
   <when test="TS_CS != null">
    'YES',
    </when>
    <otherwise>
     'NO',
    </otherwise>
    </choose>
    <choose>
    <when test="PER_INF_REQ != null">
     'YES',
    </when>
    <otherwise>
     'NO',
    </otherwise>
    </choose>
    <choose>
    <when test="PER_INF_OPT != null">
     'YES',
    </when>
    <otherwise>
     'NO',
    </otherwise>
    </choose>
    <choose>
    <when test="REGULATION != null">
     'YES',
    </when>
    <otherwise>
     'NO',
    </otherwise>
    </choose>
    <choose>
    <when test="REC_MKT_INF != null">
     'YES'
    </when>
    <otherwise>
     'NO'
    </otherwise>
    </choose>
     ) 
   </insert>
  

</mapper>
