<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Register">

 <!-- call Register.selectFromRegister -->
<!-- <select id="selectFromRegister" parameterType="Map" resultType="Map">
SELECT USER_ID, NAME, ID, PASSWORD, BIRTHDAY, CELL_NUMBER, EMAIL, ADDR_CITY, ADDR_DISTRICT, TS_CS_ID, AUTH
FROM REGISTER
WHERE USER_ID = 'U01'
; 
 </select>-->

  <!-- call Register.selectFromRegister_agree -->
<!-- <select id="selectFromRegister" parameterType="Map" resultType="Map">
SELECT TS_CS_ID, TS_CS, PER_INF_REQ, PER_INF_OPT, REGULATION, REC_MKT_INF
FROM REGISTER_AGREE
WHERE TS_CS_ID = 'R01'
;
 </select> -->

<!-- call Register.insertWithUID -->
 <insert id="insertWithUID" parameterType="Map">
 
INSERT INTO REGISTER
(USER_ID, NAME, ID, PASSWORD, BIRTHDAY, CELL_NUMBER, EMAIL, ADDR_CITY, ADDR_DISTRICT, TS_CS_ID, AUTH) 
VALUE
(#{USER_ID}, #{NAME}, #{ID}, #{PASSWORD}, #{BIRTHDAY}, #{CELL_NUMBER}, #{EMAIL}, #{ADDR_CITY}, #{ADDR_DISTRICT} , #{TS_CS_ID}, #{AUTH})

 </insert>

 <!-- call Register.insertagreeWithUID -->
 <insert id="insertagreeWithUID" parameterType="Map">
   
   INSERT INTO REGISTER_AGREE
    (TS_CS_ID, TS_CS, PER_INF_REQ, PER_INF_OPT, REGULATION, REC_MKT_INF)
   VALUES
   (#{TS_CS_ID}, #{TS_CS}, #{PER_INF_REQ}, #{PER_INF_OPT}, #{REGULATION}, #{REC_MKT_INF})
   </insert>
  

</mapper>