<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Reservation">

 <!-- 유저 정보 READ -->
<!--call Reservation.selectFromUserInfo   -->
<select id="selectFromUserInfo" parameterType="Map" resultType="Map">
SELECT USER_ID, NAME, ID, PASSWORD, BIRTHDAY, CELL_NUMBER, EMAIL, ADDR_CITY, ADDR_DISTRICT, TS_CS_ID, AUTH
FROM USER_INFO 
 </select>


 <!-- 예약상태 유저 정보 READ -->
 <select id="selectFromReservation" parameterType="Map" resultType="Map">
 SELECT USER_INFO.NAME, RSV_STATUS, RSV_DATE
FROM RESERVATION
JOIN USER_INFO 
ON USER_INFO.USER_ID = RESERVATION.USER_ID
       
 </select>

    <!-- 딜러 판매중 차량 -->
    <select id ="selectFromSalesCar" parameterType="Map" resultType="Map">
    SELECT COUNT(*)
    FROM CAR_DETAILE_INFO
    JOIN CAR_INFO
    ON CAR_DETAILE_INFO.CAR_ID = CAR_INFO.CAR_ID
    JOIN SALE_STATUS
    ON CAR_DETAILE_INFO.STATUS_ID = SALE_STATUS.STATUS_ID
    WHERE STATUS = 'sale'
    AND DEALER_ID = #{dealer_id}
    </select>


 </mapper>
