<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Search">
    <!-- call Search.selectFromCAR_INFO -->
    <select id="selectFromCAR_INFO" 
        parameterType="Map" resultType="Map">
        SELECT  CAR_ID, MUNUFACTURER, DETAILED_MODEL, MODEL_YEAR, DRIVEN_DIST, FUEL 
        FROM CAR_INFO;
    </select>
    <!-- call Search.selectFromCAR_INFOWithFilter -->
    <select id="selectFromCAR_INFOWithFilter" 
        parameterType="Map" resultType="Map">
        SELECT  CAR_ID, MUNUFACTURER, DETAILED_MODEL, MODEL_YEAR, DRIVEN_DIST, FUEL 
        FROM CAR_INFO
        WHERE 1 = 1
        <if test = 'manufacturer!="제조사"'>
            AND MUNUFACTURER = #{manufacturer}
        </if>
        <if test = 'model!="모델"'>
            AND MODEL = #{model}
        </if>
        <choose>
            <when test='modelYear!="연식"'>
                AND MODEL_YEAR = #{modelYear}
            </when>
            <when test='modelYear!="2015"'>
                <![CDATA[
                AND MODEL_YEAR <= #{modelYear}
                ]]>
            </when>
            <otherwise></otherwise>
        </choose>
        <if test = 'fuel!="연료"'>
            AND FUEL = #{fuel}
        </if>
        <!--<if test = 'grade!="등급"'>
            AND CARGRADE = #{grade}
        </if>
        <if test = 'detailedGrade!="세부등급 없음"'>
            AND DETAILED_CARGRADE = #{detailedGrade}
        </if>-->
        <if test = 'distanceDriven!="0"'>
            <![CDATA[
            AND DRIVEN_DIST < #{distanceDriven}
            ]]>
        </if> 
    </select>
</mapper>