@font-face {
  font-family: SCDream4;
  src: url("./SCDream4.otf");
}
* {
  font-family: SCDream4;
}

.logofont {
  font-family: "Georgia, " 맑은 고딕 ", serif";
}

.menu {
  background-color: rgb(245, 244, 241);
}

.footer {
  background-color: rgb(245, 244, 241);
  font-size: 0.8rem;
}

.fontcolor > a {
  color: rgb(51, 79, 171);
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #fafafa;
  color: rgb(72, 72, 210);
  border: 1px solid rgb(148, 161, 232);
  padding-left: 8px;
  border-radius: 9px;
  margin-right: 20px;
  width: 100px;
  height: 45px;
}
.text {
  color: rgb(72, 72, 210);
  background: #fafafa;
  border: 1px solid rgb(177, 177, 227);
  border-radius: 9px;
  padding: 4px;
  margin-left: 8px;
  margin-top: 3px;
  width: 200px;
  height: 45px;
}
.button {
  color: rgb(72, 72, 210);
  background: #fafafa;
  border: 1px solid rgb(177, 177, 227);
  border-radius: 9px;
  padding: 4px;
  margin-left: 8px;
  margin-top: 3px;
  width: 50px;
  height: 45px;
}
.navmenu {
  margin-bottom: 10px;
}
.carouselslide {
  margin-top: 50px;
}

div > a {
  text-decoration: none !important;
  color: rgb(0, 0, 0);
}
span > a {
  text-decoration: none !important;
  color: rgb(0, 0, 0);
}
a:hover {
  text-decoration: none !important;
}
.car_price {
  color: black;
}
.choice {
  font-weight: 900;
}
.text-align {
  text-align: align;
}

.main-search-area {
  z-index: 2;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 1080px;
  /* height: 190px; */
  padding: 35px 40px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px -5px 10px rgba(60, 96, 171, 0.05))
    drop-shadow(0px 20px 30px rgba(60, 96, 171, 0.15));
}
.main-auto-search {
  height: 45px;
}
.main-auto-search .input-area {
  position: absolute;
  width: 360px;
  height: 45px;
  top: 35px;
  right: 40px;
  border: 1px solid #dbdee3;
  border-radius: 80px;
  padding: 0 0 0 25px;
  z-index: 2;
  background-color: white;
  transition: border 0.3s;
}
.main-car-filter {
  margin-top: 20px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div {
  display: block;
}
